{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block content %}
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2 class="display-5">Текущие курсы валют</h1>
        <p class="lead">На нашем сайте вы можете узнать о текущих курсах валют Центрального банка России.</p>
        <p class="lead">
          <a class="btn btn-outline-secondary" href="/currencies" role="button">Подробнее</a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2 class="display-5">Валютный обменник</h1>
        <p class="lead">Вы можете совершить обмен валют по текущему курсу.</p>
        <p class="lead">
          <a class="btn btn-outline-secondary" href="#" role="button">Подробнее</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}